.filtro {
    width: 100%;
    height: 100%;
}

.formulario {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &__nome {
        
    }

    &__date_picker {
        width: 350px; // Espaço reservado suficiente para acomodar o intervalo sem empurrar os vizinhos

        mat-form-field {
            width: 100%;
        }

        .hint-centralizado {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    &__status {
        
    }

    &__botao {

    }
}