<div class="filtro">
    <form class="formulario">
        <div class="formulario__nome">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Devoe">
            </mat-form-field>
        </div>

        <div class="formulario__date_picker">
            <!-- Adicionado (click)="picker.open()" no mat-form-field -->
            <mat-form-field appearance="fill" (click)="picker.open()" class="campo_data">
                <mat-label>Data de Cadastro</mat-label>

                <mat-date-range-input [formGroup]="rangeDataGroup" [rangePicker]="picker">
                    <input matStartDate formControlName="dataInicio" placeholder="Data inicial" readonly>
                    <input matEndDate formControlName="dataFim" placeholder="Data final" readonly>
                </mat-date-range-input>

                <mat-hint class="hint-centralizado">DD/MM/AAAA – DD/MM/AAAA</mat-hint>

                @if (rangeDataGroup.value.dataInicio || rangeDataGroup.value.dataFim) {
                <button mat-icon-button matIconSuffix type="button" aria-label="Limpar datas"
                    (click)="limparRangeData($event)">
                    <mat-icon>clear</mat-icon>
                </button>
                }

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

                <mat-date-range-picker #picker [restoreFocus]="false"></mat-date-range-picker>
            </mat-form-field>
        </div>

        <div class="formulario__status">
            <mat-form-field appearance="fill">
                <mat-label>Status do Usuário</mat-label>

                <!-- Adicionado o [formControl]="statusControl" -->
                <mat-select [formControl]="statusControl" placeholder="Selecione um status">
                    @for (status of statusList; track status.valor) {

                    <!-- Adicionado o evento (click) -->
                    <mat-option [value]="status.valor" (click)="toggleStatus(status.valor)">
                        {{ status.valor }}
                    </mat-option>

                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="formulario__botao">
            <button mat-raised-button color="primary">Filtrar</button>
        </div>

    </form>
</div>