<div class="filtro">
    <form class="formulario">
        <div class="formulario__nome">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Devoe">
            </mat-form-field>
        </div>

        <div class="formulario__date_picker">
            <mat-form-field appearance="fill">
                <mat-label>Data de Cadastro</mat-label>

                <!-- Vincula ao FormGroup criado no TS -->
                <mat-date-range-input [formGroup]="rangeDataGroup" [rangePicker]="picker">
                    <input matStartDate formControlName="dataInicio" placeholder="Data inicial" readonly>
                    <input matEndDate formControlName="dataFim" placeholder="Data final" readonly>
                </mat-date-range-input>

                <mat-hint class="hint-centralizado">DD/MM/AAAA – DD/MM/AAAA</mat-hint>

                <!-- Botão para LIMPAR: verifica se há valor no controle -->
                @if (rangeDataGroup.value.dataInicio || rangeDataGroup.value.dataFim) {
                    <button 
                        mat-icon-button 
                        matIconSuffix 
                        type="button" 
                        aria-label="Limpar datas"
                        (click)="limparRangeData($event)">
                        <mat-icon>clear</mat-icon>
                    </button>
                }

                <!-- Botão/Ícone do calendário -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

                <!-- O componente de Range Picker -->
                <mat-date-range-picker #picker [restoreFocus]="false"></mat-date-range-picker>
            </mat-form-field>
        </div>

        <div class="formulario__status">
            <mat-form-field appearance="fill">
                <mat-label>Status do Usuário</mat-label>
                <mat-select placeholder="Selecione um status">
                    @for (status of statusList; track status.valor) {
                        <mat-option [value]="status.valor">{{ status.valor }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="formulario__botao">
            <button mat-raised-button color="primary">Filtrar</button>
        </div>

    </form>
</div>