<div class="lista_de_usuarios">
    <table mat-table [dataSource]="dadosUsuarios">

        <!-- Coluna Nome -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element" class="lista_de_usuarios__item"> {{ element.nome }} </td>
        </ng-container>

        <!-- Coluna Data de Cadastro -->
        <ng-container matColumnDef="dataCadastro">
            <th mat-header-cell *matHeaderCellDef> Data de Cadastro </th>
            <td mat-cell *matCellDef="let element" class="lista_de_usuarios__item"> {{ element.dataCadastro | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <!-- Coluna Status -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element" class="lista_de_usuarios__item"> {{ element.ativo ? 'Ativo' : 'Inativo' }} </td>
        </ng-container>

        <!-- Cabeçalho -->
        <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>

        <!-- Linha de Dados com clique e classe condicional -->
        <tr 
          mat-row 
          *matRowDef="let row; columns: colunasExibidas;"
          (click)="usuarioSelecionado(row)"
          [class.linha-selecionada]="itemSelecionado === row">
        </tr>

    </table>
</div>