.container {
    display: flex;
    height: 100dvh;
}

.container_esquerdo {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div_topo {
    flex-grow: 1;
}

.div_principal_esquerda {
    height: 80%;
}

.div_direita {
    width: 30%;
    height: 100dvh;
    
}