@use '../../estilos-comuns/estilos-comuns' as comum;

.card_de_balanco {
  @include comum.card_base();

  &__conteudo_sumario {
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 12px;
  }
}