.card {
    max-width: 350px;
    border-radius: 25px;
    padding: 30px;

    &--item {
        padding: 10px;
    }

    --plano {
        font-size: 22px;
    }

    &--preco {
        font-weight: 600;
        font-size: 40px;
    }

    &--laranja {
        background-color: #fd7557;
    }

    &--roxo {
        background-color: #ede1ff;
    }
}