<div class="detalhes_do_usuario">

    <mat-list>
        <mat-list-item class="alinhar_texto_ao_centro">
            <span class="titulo-destaque">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

            <span class="meu-rotulo">Nome: </span>
            <span class="meu-valor">Fulano da Silva</span>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

            <span class="meu-rotulo">Email: </span>
            <span class="meu-valor">luizh2190@gmail.com</span>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

            <span class="meu-rotulo">Telefone: </span>
            <span class="meu-valor">(82) 98853-3405</span>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

            <span class="meu-rotulo">Endereço: </span>
            <span class="meu-valor">Condomínio Residencial Recanto Dos Vales. Rua B. Número 60</span>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

            <span class="meu-rotulo">Ativo: </span>
            <span class="meu-valor">Sim</span>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

            <span class="meu-rotulo">Data de Cadastro: </span>
            <span class="meu-valor">14/07/2026</span>

        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>

</div>