<div class="detalhes_do_usuario">
    <mat-list>
        <mat-list-item class="alinhar_texto_ao_centro">
            <span class="titulo-destaque">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="meu-rotulo">Nome: </span>
            <span class="meu-valor">{{ usuario?.nome }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="meu-rotulo">Email: </span>
            <span class="meu-valor">{{ usuario?.email }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="meu-rotulo">Telefone: </span>
            <!-- Chama o método de formatação passando o telefone -->
            <span class="meu-valor">{{ formatarTelefone(usuario?.telefone) }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="meu-rotulo">Endereço: </span>
            @if (usuario) {
            <span class="meu-valor">
                {{ usuario.endereco.rua }}, {{ usuario.endereco.numero }}, {{ usuario.endereco.cidade }} - {{
                usuario.endereco.estado }}
            </span>
            }
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="meu-rotulo">Ativo: </span>
            <span class="meu-valor">
                {{ usuario ? (usuario.ativo ? 'Sim' : 'Não') : '' }}
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="meu-rotulo">Data de Cadastro: </span>
            <!-- Pipe date para formatar dd/mm/yyyy -->
            <span class="meu-valor">{{ usuario?.dataCadastro | date:'dd/MM/yyyy' }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>